
// 主题色
$themeColor: #ec6443;


// 圆角
$bdrH: 8px;
$bdrM: 5px;

// 外边距
$mrH: 16px;
$mrM: 12px;
$mrL: 8px;

// 内边距
$pdH: 16px;
$pdM: 12px;
$pdL: 8px;

// 字体大小
$fsB: 20px;
$fsH: 16px;
$fsM: 14px;
$fsL: 12px;

// 字体颜色
$grey: #333333;
$greyPlaceholder: #c8c9cc;
$red: #ea5a39;
$fontWhite: #fefefe;
$grey6: #525151;
$grey7: #646566;
$grey8: #6e7071;
$grey9: #bebcbb;

// 背景颜色
$bgWhite: #fff;
$bgGrey: #f5f5f5;
$bgGrey2: #e3e3e3;
$bgGrey3: #eeeeee;


// 阴影
$shadow: 0px 0px 5px 2px #e3e3e3;
$shadowBlack: 0px 0px 5px 5px #3c3c3c;

$footerBarH: 80px;

.mrM {
  margin: $mrM $mrM 0 $mrM;
}

.ellipsis{
  overflow:hidden; //超出的文本隐藏
  text-overflow:ellipsis; //溢出用省略号显示
  white-space:nowrap; //溢出不换行
}

.pd0 {
  padding: 0;
}

.flex1 {
  flex: 1;
}

.bold {
  font-weight: bold;
}

.cell-label-width-200 {
  .van-cell__label {
    width: 200%;
  }
}

.line2-ell {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
}

